* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.alerta {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    min-width: 300px;
    top: 30px;
    color: #842029;
    background-color: #f8d7da;
    border-color: #f5c2c7;
    padding: 1rem 1rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
}
.alerta:empty {
    display: none;
}

body {
    position:relative;
    background: rgb(44,44,44);
    background: radial-gradient(circle, rgba(44,44,44,1) 0%, rgba(0,255,231,1) 0%, rgba(0,138,255,1) 100%);
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
}

form input {
    background: #29292950;
    backdrop-filter: blur(15px);
    color: #fff;
    padding: 10px;
    width: 450px;
    height: 50px;
    font-size: 24px;
    border: none;
    outline: none;
    border-radius: 10px;
}
input::placeholder {
    color: #ebebeb;
}
label {
    margin-bottom: 10px;
}
.acoes div {
    display: flex;
    justify-content: center;
}
#dados h2 {
    margin-bottom: 15px;
}
#dados.passaro .cachorro {
    display: none;
}
#dados.cachorro .passaro {
    display: none;
}
.acoes.passaro .cachorro {
    display: none;
}
.acoes .dados {
    background: #00000073;
    border-radius: 5px;
    padding: 20px 15px;
    color: #fff;
    display: flex;
    flex-flow: column;
    width: fit-content;
    position: absolute;
    right: 25px;
    top: 10px;
}
.dados p {
    margin-bottom: 10px;
}
.dados p span {
    color: #b1ff74;
    margin-left: 5px;
}
hr {
    margin-bottom: 5px;
}
.acoes.cachorro .passaro {
    display: none;
}
form div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

div {
    margin-bottom: 10px;
}
label {
    display: block;
    font-family: sans-serif;
    color: #fff;
    font-size: 24px;
}

select {
    background: #29292950;
    backdrop-filter: blur(15px);
    color: #fff;
    padding: 10px;
    width: 450px;
    height: 50px;
    font-size: 24px;
    border: none;
    outline: none;
    border-radius: 10px;
}

button {
    background: #FFF;
    color: #0077ff;
    padding: 10px;
    width: 450px;
    height: 50px;
    font-size: 24px;
    border: none;
    outline: none;
    border-radius: 10px;
    margin: 10px;
    cursor: pointer;
}

h2 {
    color: #fff;
    font-size: 24px;
    font-family: sans-serif;
}